// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;800;900&display=swap');
$fontPrincipal: 'Poppins',
sans-serif;
// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
// Colores
$blue: #6794c8;
$secondBlue: #476ac1;
$red: #e65339;
$green:#75ae35;
$black: #2d3137;
$white: #ffffff;
$purple: rgb(141, 107, 255);
$gray: #e8eef3da;
$darkGray: #58585c;


$plumpPurple: #6b5abf;
$trueBlue: #00ff2a;
$grayTrueBlue: #4d77c0;
$darkTrueBlue: #3d5584;
$maxBlueGreen: #59C3C3;
$platinum: #EBEBEB;
$fieryRose: #F45B69;

$savings: rgb(197, 115, 197);
$food: rgb(165, 134, 113);
$hygiene: rgb(144, 209, 219);
$house: rgb(98, 92, 162);
$water: rgb(102, 147, 201);
$light: rgb(225, 186, 60);
$internet: rgb(127, 193, 129);
$entertainment: rgb(226, 155, 48);
$health: rgb(214, 113, 91);
$otherExpenses: rgb(129, 61, 197);



$rrr: #f7e5e6;