// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;800;900&display=swap');
$fontPrincipal: 'Poppins',
sans-serif;
// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
// Colores
$blue: #8bc1f6;
$red: #e65339;
$green:#75ae35;
$black: #2d3137;
$white: #ffffff;
$purple: rgb(181, 135, 233);
$gray: #e8eef3da;
$darkGray: #58585c;


$plumpPurple: #52489C;
$trueBlue: #494bd2;
$grayTrueBlue: #5758ac;
$darkTrueBlue: #4d4e86;
$maxBlueGreen: #59C3C3;
$maxBlueGreen2: #b04ec6b6;
$platinum: #EBEBEB;
$fieryRose: #F45B69;