// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;800;900&display=swap');
$fontPrincipal: 'Poppins',
sans-serif;
// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
// Colores
$blue: #6794c8;
$secondBlue: #316cb9;
$red: #cb3e25;
$green:#4db72f;
$black: #2d3137;
$white: #ffffff;
$purple: rgb(141, 107, 255);
$gray: #e8eef3da;
$darkGray: #58585c;


$plumpPurple: #6b5abf;
$skyBlue: rgba(157, 211, 255, 0.56);
$grayTrueBlue: #3a6bc0;
$darkTrueBlue: #22458c;
$maxBlueGreen: #48b2b4;
$platinum: #EBEBEB;
$fieryRose: #F45B69;

$savings: rgb(197, 115, 197);
$food: rgb(203, 54, 84);
$hygiene: rgb(105, 194, 176);
$house: rgb(98, 92, 162);
$water: rgb(44, 131, 238);
$light: rgb(237, 189, 33);
$internet: rgb(102, 195, 106);
$entertainment: rgb(196, 124, 16);
$clothes: rgb(171, 196, 48);
$health: rgb(225, 74, 55);
$otherExpenses: rgb(129, 61, 197);



$rrr: #f7e5e6;