@use "../base/variables" as v;
@use "../base/mixins" as m;
.expense {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem 3rem;
  width: 100%;
  background-color: v.$white;

  // align items in smartphone
  @include m.max_tablet {
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
  }

  // content
  &__content {
    display: flex;
    align-items: center;
    gap: 2rem;

    @include m.min_tablet {
      flex: 1;
    }

    @include m.max_tablet {
      flex-direction: column;
    }

    .category-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 7rem;
      width: 100%;
      max-width: 7rem;
      border-radius: 10rem;

      .FAI-icon {
        font-size: 3rem;
        color: v.$white;
      }

      &.savings {
        background-color: v.$savings;
      }

      &.food {
        background-color: v.$food;
      }

      &.hygiene {
        background-color: v.$hygiene;
      }

      &.house {
        background-color: v.$house;
      }

      &.water {
        background-color: v.$water;
      }

      &.light {
        background-color: v.$light;
      }

      &.internet {
        background-color: v.$internet;
      }

      &.entertainment {
        background-color: v.$entertainment;
      }

      &.clothes {
        background-color: v.$clothes;
      }

      &.health {
        background-color: v.$health;
      }

      &.otherExpenses {
        background-color: v.$otherExpenses;
      }
    }
  }

  // content description
  &__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include m.min_tablet {
      flex: 1;
    }

    @include m.max_tablet {
      align-items: center;
    }
  }

  // inside description
  &__category {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;
    color: v.$secondBlue;
  }

  &__name {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: v.$secondBlue;

    @include m.min_tablet {
      text-align: left;
    }
  }

  &__date {
    color: v.$secondBlue;
    font-weight: 500;

    span {
      font-weight: 300;
      color: v.$darkGray;
    }
  }

  // NOT inside precio
  &__amount {
    width: 100%;
    max-width: 12rem;
    text-align: right;
    font-size: 2.5rem;
    font-weight: 500;
    color: v.$green;

    @include m.max_tablet {
      max-width: 100%;
      text-align: center;
    }
  }
}