@use "../base/variables"as v;
@use "../base/mixins"as m;

.main{
  margin-top: 48rem;

  @include m.min_tablet {
    margin-top: 25rem;
  }
}
.expenses-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 5rem;

}

