@use "../base/variables"as v;
@use "../base/mixins"as m;

.control-budget {
  background-color: v.$white;
  border-radius: .5rem;
  padding: 5rem 3rem;
  color: v.$black;
  // box-shadow: 1px 1px 20px 1px hsla(210, 4%, 11%, 0.150);
  display: flex;

  // columns
  @include m.max_tablet {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  @include m.min_tablet {
    padding: 3rem 2rem;
    @include m.grid(2, 2rem)
  }

  // position in absolute method
  position: absolute;
  left: 0;
  right: 0;
  top: 15rem;

  .budget-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    .danger{
      color: v.$red;
      span {
        color: v.$red;
      }
    }

    span {
      color: v.$grayTrueBlue;
      font-weight: 500;
    }

    .app-reset{
      border: none;
      border-radius: .5rem;
      background-color: v.$plumpPurple;
      color: v.$white;
      padding: 1rem;
      transition: .2s;
      &:hover{
        background-color: darken(v.$plumpPurple, 5);
        transform: scale(0.99);
      }
    }
  }

  .budget-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;

    .chart-graphic{
      max-width: 20rem;
    }

  }
}